body {
  background-color: #eee;
}

.container {
  width: 80%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #fff;
  margin: auto;
  margin-top: 4rem;
  border-radius: 0 15px 15px 0;
}

.title {
  text-align: center;
  color: #1beaec;
}

.welcome {
  border-radius: 0 15px 15px 0;
  background: linear-gradient(to bottom, #9ef2ec, #1beaec, #3fc3e5);
  color: #fff;
}

.welcome h1 {
  font-weight: bolder;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  align-items: center;
}

.form-group {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: #3fc3e5;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #1beaec;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #1beaec;
  font-size: 17px;
}

.form-group input:focus {
  border: 1px solid #3fc3e5;
  background-color: #eee;
}

.button {
  padding: 0.7rem 0 0.7rem 0;
  width: 100%;
  border: none;
  color: white;
  background-color: #3fc3e5;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 3rem;
}

.warning {
  color: #f00;
}

.term-condition {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
}
input[type="checkbox"] {
  min-width: 30px;
  min-height: 30px;
}

input[type="range"] {
  padding: 0;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: auto;
    width: 100%;
  }
}
