body {
  background-color: #eee;
}

.container {
  width: 80%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: auto;
  margin-top: 4rem;
  border-radius: 15px;
}

div.container > div:first-child {
  max-width: 50%;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.image-gif {
  max-width: 100%;
}
