.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 3.5rem;
}

.nav-content {
  width: 78%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.links {
  height: 100%;
  display: flex;
  margin-right: 1rem;
}

.links a {
  height: 100%;
  color: #1beaec;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 1rem 0 1rem;
}

.links a:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #1beaec;
}

.title strong {
  font-size: 20px;
  color: #1beaec;
}

@media (max-width: 400px) {
  .navbar {
    height: 5rem;
  }

  .nav-content {
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .links {
    height: 50%;
  }
}
